@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
  font-family: 'Poppins', sans-serif;
  color: white;
}

:root {
  --color-primary: #6f6af8;

  --color-white: #fff;

  --color-red: rgb(255, 63, 63);

  --color-gray-100: hsl(220, 20%, 10%, 5%);
  --color-gray-200: hsl(220, 20%, 10%, 10%);

  --color-gray-300: hsl(220, 20%, 10%, 25%);
  --color-gray-500: hsl(220, 20%, 10%, 50%);

  --color-gray-700: #252542;
  --color-gray-900: #0c0c22;

  /* --color-bg: rgba(230, 230, 235, 0.648); */
  /* --color-bg: rgb(255 255 255 / 89%); */


  --color-bg: rgb(249 249 249 / 93%);

  --transition: all 300ms ease;

  --container-width-1g: 84%;

  --container-width-md: 92%;

  --form-width: 50%;

  --radius-1: 0.3rem;

  --radius-2: 0.6rem;

  --radius-3: 1rem;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-gray-900);
  line-height: 1.1;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.9rem;
}
h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}
h4 {
  font-size: 1.1rem;
}
h5 {
  line-height: 1.4;
}

body {
  padding: 0;
  height: 100vh;
  width: 100vw;

  background-color: #9ba788;
  
}


/*============================================ Navbar =================== */
.container {
  width: var(--container-width-1g);
  margin-inline: auto;
}
nav {
  width: 100vw;
  height: 4.5rem;
  display: flex;
  place-items: center;
  color:#1b582c;
  /* background: rgba(255, 255, 255, 0.5); */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  /* border-bottom: 4px solid var(--color-bg); */
  backdrop-filter: blur(20px);
}
.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  transition-duration:2s;
}
.nav_container li:hover{
  color:#558989;
  transition-duration:1s;
text-decoration: underline;
}

.nav_logo {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;

}
.stic{
  height:4rem;
  width:4rem;
}
.stic:hover{
  transform: rotate(360deg);
  transition-duration:1.7s;
}

.nav_logo img{
  border-radius:100%;

}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 3rem;

}
.nav_menu li p{
  
  color:#1b582c
}

.nav_toggle-btn{
  display: none;
}
.nav_up{
 display:none;
 transition-duration:3s;
  }





  @media screen and (max-width: 900px) {
   
    /* --------------------------------NAVBAR------------------------------------------ */
  .nav_up{
    position: fixed;
    top:0;
    right:0;
    /* visibility: visible; */
   
    height:100vh;
    width:100vw;
    z-index: 9999;
   background-color: #1b582c;
     /* background-color: #ffffffc2; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
    border: 1px solid rgba(255, 255, 255, 0.14); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  transition-duration:3s;
    
  }
  
  .nav_up li{
    font-size: 20px;
    width:100%;
    margin-top:2rem;
    /* margin-left:10px; */
  
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .nav_up li a{
    color:#ffff;
  }
  
    .nav_menu {
      display: none;
    }
   
  .nav_logo{
    position: relative;
  }
  .nav_toggle-btn{
    display: flex;
    background: transparent;
    font-size: 1.5rem;
   z-index:99999;
    cursor: pointer;
    color: black;
  }
}




























.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin-top: 2rem;
  /* flex-wrap: wrap; */
  /* background-color: #D9D9D9; */
  backdrop-filter: blur(15px);
  background-image: url('../img/joanna-kosinska-0CQfTLOVTPU-unsplash.jpg');
  background-size: contain;
}
.left-sec {
  height: 100%;
  width: 60%;
  /* min-width:35rem; */
  padding: 1rem;
  display: flex;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.quote {
  height: 40%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.q1 {
  width: 100%;
}
.q1 p {
  height: 2rem;
  text-align: start;
}

.q2 {
  width: 100%;
  margin-bottom: 15px;
}
.q2 h2 {
  letter-spacing: 1px;
  word-spacing: 5px;
  text-align: start;
  font-size: 3rem;
  font-weight: 600;
}

.q3  p{
  word-spacing: 6px;
  line-height: 35px;
  color: rgba(0, 0, 0, 0.936);
  font-size: 17px;
  font-weight: 450;
}
.right-sec {
  height: 100%;
  width: 40%;
  /* min-width: 35rem; */
  display: flex;
 justify-content: center;
 align-items: center;
  /* align-items: center; */
}
.circle-sec img {
 
  height: 95%;
  width: 100%;
 
}

.Search-section {
  width: 100%;
  height: 6rem;
  display: flex;
  padding-top: 2rem;
 justify-content:start;
 align-items: center;
}

@media screen and (max-width: 1140px) {
  .q3 {
    word-spacing: 1px;
  }
  .quote {
    margin-top: 25px;
  }
}
@media screen and (max-width: 1000px) {
  .hero {
    padding-top: 5rem;
    background-size: cover;
  }
  .Search-section {
    width: 100%;
  }
  .Search-section input {
    width: 100%;
  }
  .hero {
    flex-direction: column-reverse;
    height: auto;
  }
  .left-sec {
    width: 100%;
    height: auto;
  }
  .right-sec {
    width: 100%;
    height: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
  }
  .circle-sec {
    border-top-right-radius: 30%;
    max-width: 20rem;
  }
}
/* CSS */
.button-86 {
  all: unset;
  width: 150px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all 0.4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #1b582c;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}