body {
  background-color: rgba(79, 77, 77, 0.4);
}


.background {
  width: 100%;
  height: 110vh;
  background: url('https://res.cloudinary.com/dxxeks4o5/image/upload/v1691512117/viggo-danielsen-YhKi49Laoss-unsplash_txmr2h.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  /* backdrop-filter: blur(20px); */
}

.container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: url('https://res.cloudinary.com/dxxeks4o5/image/upload/v1691512117/viggo-danielsen-YhKi49Laoss-unsplash_txmr2h.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 40px;
}

.container-form .content {
  margin-top: 300px;
  width: 50%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(2px);
  padding: 40px;
  color: #e4e4ee;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
}

.content .logo img {
  height: 40px;
  width: 120px;
  background: rgba(243, 241, 241, 0.3);
  backdrop-filter: blur(10px);
}

.text-sci h2 {
  font-size: 40px;
  line-height: 1;
}

.text-sci h2 span {
  font-size: 25px;
}

.text-sci p {
  font-size: 16px;
  margin: 20px 0;
}

.social-icons a i {
  font-size: 22px;
  margin-right: 10px;
  color: #e4e4ee;
  transition: .5s ease;
}

.social-icons a:hover i {
  transform: scale(1.2);
}

.container-form .logreg-box {
  width: 50%;
  height: 100%;
}

.logreg-box .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: #e4e4e4;
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 30px 0;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: 500;
  padding-right: 28px;
}

.input-box:nth-last-child(2) {
  border-bottom: none;
}

.input-box textarea {
  width: 100%;
  height: 100px;
  background: rgba(216, 206, 206, 0.3);
  border: none;
  outline: none;
  border-bottom: none;
  font-size: 16px;
  margin-top: 3px;
  padding: 6px;
  color: #e4e4e4;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY();
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -6px;
}

.btn {
  width: 100%;
  height: 45px;
  margin-top: 60px;
  background: red;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


@media (max-width: 768px) {
  .container-form {
    flex-direction: column;
  }

  .content,
  .logreg-box {
    padding: 10px;
  }
}

/* go to top  */
#backToTopBtn {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 42px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#backToTopBtn:hover {
  background-color: #0056b3;
}

@media (max-width: 426px) {
  #backToTopBtn {
    right: 1rem;
  }
}