body {
  background-color: rgba(79, 77, 77, 0.4);
  }
  
  .background {
  width: 100%;
  height: 110vh;
  background-size: cover;
  background-position: center;
  position: relative;
  background: #575A89;
  }
  
  .background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #575A89;
  opacity: 0.4;
  }
  
  .background::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
  z-index: -1;
  }
  
  .container-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 40px;
  padding: 10px;
  text-decoration-color: black;
  }
  
  .container-form .content {
  width: 50%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(2px);
  padding: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  text-decoration-color: black;
  }
  
  .content .logo img {
  height: 120px;
  width: 120px;
  /* background: rgba(243, 241, 241, 0.3); */
  backdrop-filter: blur(10px);
  margin-bottom: 40px;
  }
  
  .text-sci h2 {
  font-size: 40px;
  line-height: 1;
  color: #161B6E;
  }
  
  .text-sci h2 span {
  font-size: 25px;
  }
  
  .text-sci p {
  font-size: 16px;
  margin: 10px 0;
  color: #161B6E;
  margin-left: 10px;
  }
  
  .form-box {
  padding: 10px;
  }
  .social-icons{
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 20px;
  }
  .social-icons a i {
  font-size: 22px;
  color: #161B6E;
  padding: 4px 10px;
  transition: .5s ease;
  }
  
  .social-icons a:hover i {
  transform: scale(1.2);
  }
  
  .container-form .logreg-box {
  width: 50%;
  height: 100%;
  }
  
  .logreg-box .form-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  /* backdrop-filter: blur(20px); */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: black;
  background: #161B6E;
  }
  
  .form-box h2 {
  font-size: 32px;
  text-align: center;
  color: #e4e4ee;
  }
  
  .form-box .input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 30px 0;
  }
  
  .input-box input {
  width: 100%;
  height: 100%;
  background: white;
  border: rgba(255, 255, 255, 0.548) 1px solid;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: #161B6E;
  font-weight: 500;
  padding-right: 28px;
  text-align: left;
  }
  
  .input-box:nth-last-child(2) {
  border-bottom: none;
  }
  
  .input-box textarea {
  width: 100%;
  height: 100px;
  background: rgb(255, 255, 255);
  border: none;
  outline: none;
  border-bottom: none;
  font-size: 16px;
  margin-top: 3px;
  padding: 6px;
  color: #161B6E;
  }
  
  .input-box label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY();
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
  transition: .5s ease;
  color: #e4e4ee;
  }
  
  .input-box input:focus~label,
  .input-box input:valid~label {
  top: -6px;
  }
  
  .btn {
  width: 100%;
  height: 45px;
  margin-top: 60px;
  background:#3f4ab0 ;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  @media (max-width: 768px) {
  .container-form {
  flex-direction: column;
  }
  
  .content,
  .logreg-box {
  padding: 10px;
  }
  }
  
  /* go to top */
  #backToTopBtn {
  display: none;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 42px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  #backToTopBtn:hover {
  background-color: #0056b3;
  }
  
  @media (max-width: 426px) {
  #backToTopBtn {
  right: 1rem;
  }
  }
