*{
    margin: 0;
    padding: 0;
    font-family:Montserrat,sans-serif;
}

.testimonials{
    padding: 40px 0;
    background: #f1f1f1;
    color: #434343;
    text-align: center;
}

.inner{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;

}

.border{
    width: 160px;
    height: 5px;
    background:#6ab04c ;
    margin: 26px auto;

}

.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 33.33%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 15px;
}

.testimonial{
    background-color: #fff;
    padding: 30px;
}

.testimonial img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.name{
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 20px 0;
}
.stars{
    color: #6ab04c;
    margin-bottom: 20px;
}