@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #575A89;
}

header{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px 5px 10px ;
    box-shadow:  0px 1px 6px #4e4e4e;
}
header img {
    width: 10rem;
    height: 3.3rem;
    cursor: pointer;
    margin-left: 50px;
}

li,a ,button{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #161B6E;
    text-decoration: none;
}
.nav_link{
    list-style: none;
    /* border: 2px solid rebeccapurple;   */
}

.nav_link li{
    padding: 5px 20px;
    display: inline-block;

}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    color: #575A89;
}

header button{
    padding: 9px 25px;
    background-color: #161B6E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #D9D9D9;
}
 header button:hover{
    background-color: #575A89;
}

.rect-img {
  position: relative;
}

.top-img {
  position: absolute;
  top: 260px;
  left: 195px;
  width: 750px;
}

.below-img{
  margin-top: 50px;
  width: 980px;
  height: 890px;
  margin-left: 65px;
}


.sec-block{
  position: absolute;
  width: 950px;
  height: 890px;
  left: 1046px;
  top: 113px;
  background:#b3b3b3;
  border-radius: 0px 50px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.round-logo{
  margin-top: -35px;
  border: 3px solid #161B6E;
  border-radius: 50%;
  margin-bottom: 60px;
}

.sec-block fieldset{
  margin-bottom: 50px;
  padding:0px 13px 0px 13px;
  border: 2px solid #161B6E;
  border-radius: 15px;
}

fieldset input{
  border: none;
  background:#b3b3b3;
  width: 650px;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 20px;
}

.otp{
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 195px;
  margin-bottom: 60px;
}

.otp input[id="send"]{
  width:200px;
  height: 58px;
  border: 2px solid #161B6E;
  border-radius: 15px;
  background: #161B6E;
  color: white;
  cursor: pointer;
  font-size: 20px;
  transition: background 0.3s;
}

.otp input[id="send"]:hover{
  background: #b3b3b3;
}

.otp input[id="enter"]{
  width:280px;
  border: 2px solid #161B6E;
  border-radius: 15px;
  background: #b3b3b3;
  font-size: 20px;
  text-align: center;
  transition: height 0.25s;
}

.otp input[id="enter"]::placeholder {
  font-size: 20px;
  text-align: center;
}

.otp input[id="enter"]:hover{
  height: 62px;
}


input[id="verify"]{
  text-align: center;
  width: 650px;
  height: 70px;
  border: 2px solid #161B6E;
  border-radius: 15px;
  background: #161B6E;
  color: white;
  cursor: pointer;
  margin-bottom: 40px;
  font-size: 20px;
  transition: background 0.3s;
}

input[id="verify"]:hover{
  background: #b3b3b3;
}

.horizontal-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.horizontal-line hr {
  border: none;
  flex-grow: 1;
  height: 2px;
  background-color: #161B6E;
  background: #161B6E;
  width: 315px;
}

.or-text {
  margin: 0 10px;
  font-weight: bold;
  color: #161B6E;
}

.google-input {
  position: relative;
  display: inline-flex;
  align-items: center;
  border: 1px solid #161B6E;
  border-radius: 15px;
  height: 75px;
  width: 650px;
  cursor: pointer;
  margin-bottom: 20px;
  justify-content: center;
}

.google-logo {
  width: 45px;
  height: 45px;
}

.google-input input {
  cursor: pointer;
  padding: 5px 10px;
  border: none;
  background: #b3b3b3;
}

.google-input input[type="submit"] {
  font-size: 24px; 
  color: #161B6E;
  text-align: center;
}

.no-account p a:hover{
  text-decoration: underline;
}