@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background color added in HTML */
}

/* navigation bar */


header{
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 70px 20px 20px ;
    box-shadow:  0px 1px 6px #4e4e4e;
    
}
header img {
    width: 10rem;
    height: 3.3rem;
    cursor: pointer;
    margin-left: 50px;
}

li,a ,button{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #161B6E;
    text-decoration: none;
}
.nav_link{
    list-style: none;
    /* border: 2px solid rebeccapurple;   */
}

.nav_link li{
    padding: 5px 20px;
    display: inline-block;

}

.nav_link li a{
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover{
    color: #575A89;
}

header button{
    padding: 9px 25px;
    background-color: #161B6E;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #D9D9D9;
    
}
 header button:hover{
    background-color: #575A89;
}

/* container */

.container{
    display: flex;
    font-family: sans-serif;
    margin-top:160px;
    padding-bottom:60px;
    

header {
  width: 100vw;
  position: fixed;
  z-index: 100;
}

.header_container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px 5px 10px;
  box-shadow: 0px 1px 6px #4e4e4e;
  border: 2px solid #575a89;
  border-top: none;
  border-left: none;
  border-right: none;
}

.header_container img {
  width: 10rem;
  height: 3.3rem;
  cursor: pointer;
  margin-left: 50px;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #161b6e;
  text-decoration: none;
}

.nav_link {
  list-style: none;
  /* border: 2px solid rebeccapurple;   */
}

.nav_link li {
  padding: 5px 20px;
  display: inline-block;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
  color: #575a89;

  text-decoration: underline 2.5px #575a89;
}

.header_container button {
  padding: 9px 25px;
  background-color: #161b6e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #d9d9d9;
}

.header_container button:hover {
  background-color: #575a89;
}

/* Added Code */
.nav_menu2 {
  display: none;
  height: 10rem;
  padding: 2%;
  background-color: #d9d9d9;
}

.nav_link2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav_link2 li {
  padding: 0.5rem;
  margin-left: auto;
  padding-right: 2rem;
  border: 2px solid #575a89;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

.nav_menu2.show {
  display: block;
}

.burger-icon {
  display: none;
}

.nav_login {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}
@media screen and (max-width: 575px) {
  .burger-icon {

    display: flex;
  }

  nav {
    display: none;
  }
  .nav_login {
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 787px) {
  .burger-icon {
    display: flex;
  }
  .nav_login {
    width: 30%;
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .burger-icon {
    display: flex;
  }
  .nav_login {
    width: 20%;
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .burger-icon {
    display: flex;
  }
  .nav_login {
    width: 10%;
  }
  .burger-icon {
    display: none;
  }
}
/* container */


.container {
  display: flex;
  font-family: sans-serif;

  padding-top: 60px;

}
.container a {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #f9a826;
  font-size: 20px;
}
.container a:hover {
  text-decoration: underline 2px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px 50px 0px 50px;
}

.content h1 {
  font-size: 80px;
  color: #d9d9d9;
}

.content h1 span {
  color: #f9a826;
}

.content h4 {
  font-size: 20px;
  margin-top: 30px;
  padding-right: 40px;
  line-height: 1.5;
  color: #d9d9d9;
}

.content h4 span {
  color: #f9a826;
}


.local{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 134px;
    align-items: center;
}


.local input[type=search]{
   padding:10px 130px;


   border-radius: 40px;
   font-family: sans-serif;
   border: none;
   background-color: #D9D9D9;
   text-align: center;

   font-size: 25px;


.container img {
  width: 30%;
  margin: 40px 70px;

  width: 100%;
  margin: 40px 70px;
  margin-left: 0px;
}

.local {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 134px;
  align-items: center;
}

.local input[type="search"] {
  padding: 25px 130px;
  border-radius: 40px;
  font-family: sans-serif;
  border: none;
  background-color: #d9d9d9;
  text-align: center;
  font-size: 35px;
}

::placeholder {
  color: #575a89;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.local img{

    width: 40px;

    position: relative;
    right: 100px;    

}

/* product container */


.product-container {
  height: 30vh;
  width: 100vw;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
    margin-top: 200px;
    margin-bottom: 150px;
}

.Accessories-box {
  border-radius: 14px;
  width: 170px;
  height: 220px;
  margin: 0 8em;
  align-items: center;
}


.Accessories-box{
    border-radius: 14px;
    width: 170px;
    height: 220px;
    margin:30px 10px 40px 10px;
    padding:30px 0;
  }
.Accessories-box:hover .product-name {
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.rectangle-42{
box-sizing: border-box;
height: 138px; 
background: #D9D9D9;
border: 3px solid #161B6E;
border-radius: 15px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
transition: box-shadow 0.5s border-color 0.8s;
}
.rectangle-42:active{
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-color: #D9D9D9;
}
.Accessories-box:hover .rectangle-42{
    box-shadow: 1px 1px 5px 3px #575A89;
    transition: .5s ease-in-out;  
}
.Accessories-box:hover .product-name{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
}

.product-name{
margin-top: 10px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
text-align: center;


}

/* app section */

.app-container{
    height: 750px;

    background-image: url('../img/app-section.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    display: grid;
    grid-template-columns: 1fr 866px;
    margin-top:300px;
    padding-top: 80px;
    
    
}

.device-box{
    position: relative;
}

.device-box img{

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* grid-template-columns: 1fr 1fr; */
}

 
.device-container-1st{
    width: 220px;
    z-index: 100;
}


.device-1st{
    top: 90px;
    height: 450px;
    left: 30px;
}

.device-2nd{
    top: 90px;
    left: 200px;
    height:400px;

}

.app-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.app-text img{

width: 650px;
height: 125px;

}

.google-play-button{
    background-color: #161B6E;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 300px;

.play-button{
  display: flex;
  align-items: center;
  padding:1.5rem;
}
.google-button{
  background-color: #0d268c;
  border-radius: 20px;
}
.google-button:hover{
  background-color: #575a89;
}



.play-button{

width: 250px;
height: 70px;

display: flex;
justify-content: left;
align-items: center;
color: white;
font-family: Arial, Helvetica, sans-serif;
.play-text{
  color:#ffffff;
}
@media screen and (max-width:767px) {
  .app-container {
      flex-direction: column;
      align-items: center;
      height: 50%;
  }

  .device-box {
      width: 90%;

  }
  .device-frame {
      width: 100%;
  }

  .vigybag-image {
      width: 100%;
  }

  .app-info {
      width: 90%;
  }
}



.play-img-div img{

    width: 40px;
    height: 40px;

}

.play-text{
    text-align: left;
    line-height: 25px;
    font-size:10px;

  }
@media screen and (min-width:768px) and (max-width:1199px) {
  .app-container {
      align-items: center;
  }

  .device-box {
      width: 40%;
  }

  .device-frame {
      width: 80%;
  }

  .vigybag-image {
      width: 100%;
  }

  .app-info {
      width: 60%;
  }
}

@media screen and (min-width:1200px) {
  .device-box {
      width: 40%;
  }

  .app-info {
      width: 50%;
  }
  .device-frame {
    width: 80%;
    height:100%;
}




.items-container{

    height: 1294px;
    background-color: #575A89;
    font-family: Arial, Helvetica, sans-serif;
    color: #161B6E;;
    margin-top: 120px;
    
    
  }

/* items section */   
.item-row{
    background-image:linear-gradient(to right,#0f0c29,#302b63,#24243e,rgb(71, 71, 107),rgb(102, 114, 159));
border-bottom:20px solid rgb(2, 2, 2) ;
border-left:10px solid rgb(2, 2, 2) ;
padding-bottom: 30px;
}
.item-row{
    margin-top: 100px;

    height: 100%;
    background-color: #575A89;
    font-family: Arial, Helvetica, sans-serif;
    color: #161B6E;;
}

.item-title {
  color: #e6e6e6;
  padding: 55px 0px 25px 52px;
  font-size: 49px;
  font-weight: 700;
}




.item-cards-div{

    /* display: flex;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    margin: 50px 0;
    padding: 0px 0px 0px 10px;




.item-card {
   display: inline-block;
    width: 300px;
    height: 423px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
     



.item-card{

    display: inline-block;
    width: 300px;
    height: 423px;
    border-radius: 15px;
    margin-top: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.20);
}



.item-image {

    width: 300px;
    height: 300px;
    background-color: #D9D9D9;

    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    cursor: pointer;

  }
  
.item-image .wishlist-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 13px;
    cursor: pointer;
  }
  

  .item-description {
    display: flex;
    justify-content: space-between;
    background-color: #9fa1c1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px 15px 13px 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .item-description p,
  .items-star div {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  


.item-description p{

    margin: 6px 0px;
  }
  
  .item-heading {
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;

  }
  



.items-star div{

    display: inline-block;
  }
  
  .add-to-card-button {
    margin-top: 10px;
    color: #fff;
    padding: 10px 20px;
    border-radius: 100px;
    background-color: #4C43CD;
    background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    font-size: 12px;
      border: 0;
      user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  margin-right: 9px;
  margin-left: 10px;
    cursor: pointer;
   
  }
  
  .add-to-card-button:hover {
   
    background-color: #161b6e;
    color: #d9d9d9;
  }
  /* add buy now button */
 .buy-now-button {
    margin-top: 10px;
      color: #fff;
      padding: 10px 20px;
      border-radius: 100px;
      background-color: #4C43CD;
      background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 87% at 26% 20%, rgba(255, 255, 255, 0.41) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
      box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
      font-weight: bold;
      font-size: 12px;
    width: 100px;
      border: 0;
    
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    float: right;
  
      cursor: pointer;
    }




.buy-now-button:hover {
    background-color: #161b6e;
    color: #d9d9d9;





.add-to-card-button:hover{

    background-color:  #161B6E;
    color:#D9D9D9;
}

.see-more-text{
    text-align: right;
    margin-top: 15px;
    padding-right: 42px;
    

}


.see-more-text {
    text-align: right;

    margin-top: 15px;
    padding-right: 42px;
    margin-bottom: 10px;
    margin-right: 25px;
 }

.see-more-text a {
    color: white;
    font-size: 14px;
}

.see-more-text div {
    display: inline-block;
   
}

.see-more-text div:hover {
        color: rgb(173, 173, 174);
  }


/* footer section */

.footer-container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  background: #07081d;
  color: white;
  font-family: arial;
  padding: 20px 0px;
}

.footer-container a {
  color: white;
}



.footer-container{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   background: #07081D;
   color: white;
   font-family:arial;
   padding: 17px 0px;
   
}

.footer-container a{
    color: white;
    
}


.footer-container a:hover {
  transition: 0.7s ease;
  color: #8f79b9;

}

.footer-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 42px;
  padding-left: 54px;
  margin-top: 27px;
  margin-bottom: 32px;
}

.contact-info div {
  display: flex;
  justify-content: left;
  text-align: center;
  margin-bottom: 10px;
  padding-left: 50px;
}

.contact-info img {
  width: 30px;
  height: 30px;
  margin-right: 23px;
}

.contact-info p {
  font-size: 15px;
  padding-top: 5px;
}

/* .quick-links {
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
} */

.quick-links-info div {
  padding-left: 60px;
  margin-bottom: 10px;
}



.contact,.quick-links,.social{
    padding:60px 20px 20px 20px;
    
}

.contact-info div{
    display: flex;
    justify-content: left;
    text-align: center;
    /* margin-bottom: 38px; */
    /* padding-left: 50px; */


.social-div {
  display: flex;
  flex-direction: column;
  /* justify-content: space-evenly;
  align-items: center;
  padding: 50px 60px 0px 60px; */
}

.flex{
  display: flex;
  align-items: center;
}

.social-div img,
.social-div p {
  cursor: pointer;
}




.contact-info p{

    font-size: 15px;
    padding-top: 10px;


.social-div div {
  padding-left: 50px;
}

.social-div img{
  width: 25px;
  height: 25px;

}

.social-div a {
  font-size: 15px;
  padding-left: 10px;
}

.social-div img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}



::-webkit-scrollbar {
  width: 12px;
}


.social-div img,
.social-div p{
    cursor: pointer;
}

.social-div div{
    text-align: center;
}

.social-div a{
    font-size: 12px ;
}

.social-div img:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
  }
    

/* Modification for shorter screens */
@media (max-width:956px){

    .brand-logo {
        width: 10rem;
        height: 3.3rem;
        cursor: pointer;
        margin-left: 25px;
    }

    .device-container-1st{
        width: 190px;
        z-index: 100;
    }
    .device-1st{
        height: 60vh;
        padding-top: 40px;
    }
    
    .device-2nd{
        height: 55vh;
       padding-top: 50px;
        left: 20vw;
    }

    .play-button{
        width: 300px;
        height: 89px;
        display: flex;
        justify-content: left;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        }
        
        .play-img-div{
            padding-left: 14px;
            padding-right: 15px;
        }
        
        .play-img-div img{
            width: 67px;
            height: 67px;
        }
        
        .play-text{
            text-align: left;
            line-height: 30px;
        }
        
}
@media ( max-width:850px){
    .content h1{
        font-size: 60px;
    }
    
    .local{
        margin-bottom: 100px;
    }

    .local input[type=search]{
        padding:22px 100px;
        border-radius: 40px;
        font-family: sans-serif;
        border: none;
        background-color: #D9D9D9;
        text-align: center;
        font-size: 30px;
    }
    .local img{
        width: 40px;
        position: relative;
        right: 100px;    
    }


    .play-button{
        width: 270px;
        height: 80px;
        display: flex;
        justify-content: left;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        }
        
        .play-img-div{
            padding-left: 14px;
            padding-right: 15px;
        }
        
        .play-img-div img{
            width: 60px;
            height: 60px;
        }
        
        .play-text{
            text-align: left;
            line-height: 27px;
        }
        .play-text h1{
            font-size: 1.5em;
        }
        .play-text{
            font-size: 1em;
        }


    .footer-title{
        font-size: 25px;
        margin-bottom: 20px;
    }
    .contact-location{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
    }
    .contact-location-img{
        height: 25px;
        width: 25px;
    }
    .contact-location-text{
        padding-left: 0px;
    }
    /* .contact-info div{
        padding-left: 15px;
    } */
    .contact-email{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
    }
    .contact-email a{
        padding-left: 0px;
        font-size: 10px;
    }
    .contact-ph-number{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 10px;
    }
    .quick-links-info div{
        text-align: center;
        margin-bottom: 20px;
    }.social-div{
        padding-top: 0px;
    }


}
@media (max-width:625px){
    .brand-logo {
        width: 8rem;
        height: 2.7rem;
        cursor: pointer;
        margin-left: 23px;
    }
    .content h1{
        font-size: 50px;
    }
    .top-side-img{
        width: 25vw;
    }

    .local input[type=search]{
        padding: 19px 60px;
        border-radius: 40px;
        font-family: sans-serif;
        border: none;
        background-color: #D9D9D9;
        text-align: center;
        font-size: 22px;
    }

    .device-container-1st{
        width: 170px;
        z-index: 100;
    }
    .device-1st{
        height: 55vh;
        padding-top: 40px;
    }
    
    .device-2nd{
        height: 51vh;
       padding-top: 50px;
        left: 20vw;
    }
}

@media (max-width:470px){
    .local input[type=search]{
        padding: 16px 40px;
        border-radius: 40px;
        font-family: sans-serif;
        border: none;
        background-color: #D9D9D9;
        text-align: center;
        font-size: 18px;
    }
    .local img{
        width: 40px;
        position: relative;
        right: 65px;    
    }

    .google-play-button{
        margin-left: 0px;
    }
    .play-button{
        width: 240px;
        height: 70px;
        display: flex;
        justify-content: left;
        align-items: center;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        }
        
        .play-img-div{
            padding-left: 14px;
            padding-right: 15px;
        }
        
        .play-img-div img{
            width: 44px;
            height: 44px;
        }
        
        .play-text{
            text-align: left;
            line-height: 23px;
        }
        .play-text h1{
            font-size: 1.2em;
        }
        .play-text{
            font-size: 0.8em;
        }


}

@media (max-width:400px){
    .brand-logo {
        width: 6rem;
        height: 2rem;
        cursor: pointer;
        margin-left: 19px;
    }
    .content h1 {
        font-size: 40px;
    }
    .item-cards-div{
        padding-left: 20px;
    }
    .device-container-1st{
        width: 150px;
        z-index: 100;
    }
    .device-1st{
        height: 50vh;
        padding-top: 40px;
    }
    
    .device-2nd{
        height: 46vh;
       padding-top: 50px;
        left: 20vw;
    }

    .footer-title{
        font-size: 15px;
    }
    .contact-location-img{
        height: 15px;
        width: 15px;
    }
    .contact-email-img{
        height: 15px;
        width: 15px;
    }.contact-ph-number-img{
        height: 15px;
        width: 15px;
    }

}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#161b6e, #09a0f1);
  border-radius: 6px;
}



::-webkit-scrollbar{
    width: 12px;
  }
  
  ::-webkit-scrollbar-track{
    background: rgb(7, 31, 48);
  }
  
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(#161B6E , #09a0f1);
    border-radius: 6px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(#161B6E , #ff00ff);

  }
  