@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background color added in HTML */
}

/* navigation bar */
header {
  padding: 5px 70px 5px 10px;
}

.header_container {
  background-color: #d9d9d9;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px 5px 10px;
  box-shadow: 0px 1px 6px #4e4e4e;
  border: 2px solid #575a89;
  border-top: none;
  border-left: none;
  border-right: none;
}

.header_container img {
  width: 10rem;
  height: 3.3rem;
  cursor: pointer;
  margin-left: 50px;
}

li,
a,
button {
  font-family: sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #161b6e;
  text-decoration: none;
}

.nav_link {
  list-style: none;
  /* border: 2px solid rebeccapurple;   */
}

.nav_link li {
  padding: 5px 20px;
  display: inline-block;
}

.nav_link li a {
  transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
  color: #575a89;
  text-decoration: underline 2.5px #575a89;
}

.header_container button {
  padding: 9px 25px;
  background-color: #161b6e;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #d9d9d9;
}

.header_container button:hover {
  background-color: #575a89;
}

/* Added Code */
.nav_menu2 {
  display: none;
  height: 10rem;
  padding: 2%;
  background-color: #d9d9d9;
}

.nav_link2 {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.nav_link2 li {
  padding: 0.5rem;
  margin-left: auto;
  padding-right: 2rem;
  border: 2px solid #575a89;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}

.nav_menu2.show {
  display: block;
}

.burger-icon {
  display: none;
}

.nav_login {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}
@media screen and (max-width: 575px) {
  .burger-icon {
    display: flex;
  }

  nav {
    display: none;
  }
  .nav_login {
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 787px) {
  .burger-icon {
    display: flex;
  }
  .nav_login {
    width: 30%;
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
  .burger-icon {
    display: flex;
  }
  .nav_login {
    width: 20%;
  }
  nav {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .burger-icon {
    display: flex;
  }
  .nav_login {
    width: 10%;
  }
  .burger-icon {
    display: none;
  }
}
/* container */

.container {
  display: flex;
  font-family: sans-serif;
}
.container a {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  color: #f9a826;
  font-size: 20px;
}
.container a:hover {
  text-decoration: underline 2px;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 40px 50px 0px 50px;
}

.content h1 {
  font-size: 80px;
  color: #d9d9d9;
}

.content h1 span {
  color: #f9a826;
}

.content h4 {
  font-size: 20px;
  margin-top: 30px;
  padding-right: 40px;
  line-height: 1.5;
  color: #d9d9d9;
}

.content h4 span {
  color: #f9a826;
}

.container img {
  width: 100%;
  margin: 40px 70px;
  margin-left: 0px;
}

.local {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 134px;
  align-items: center;
}

.local input[type="search"] {
  padding: 25px 130px;
  border-radius: 40px;
  font-family: sans-serif;
  border: none;
  background-color: #d9d9d9;
  text-align: center;
  font-size: 35px;
}

::placeholder {
  color: #575a89;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.local img {
  width: 60px;
  position: relative;
  right: 100px;
}

/* product container */

.product-container {
  height: 267px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Accessories-box {
  border-radius: 14px;
  width: 170px;
  height: 220px;
  margin: auto 5px;
}

.rectangle-42 {
  box-sizing: border-box;
  height: 138px;
  background: #d9d9d9;
  border: 3px solid #161b6e;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.5s border-color 0.8s;
}

.rectangle-42:active {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
  border-color: #d9d9d9;
}

.Accessories-box:hover .rectangle-42 {
  box-shadow: 1px 1px 5px 3px #575a89;
  transition: 0.5s ease-in-out;
}

.Accessories-box:hover .product-name {
  transform: scale(1.1);
  transition: 0.5s ease-in-out;
}

.product-name {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

/* app section */

.app-container {
  height: 627px;
  background-image: url("../img/app-section.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 866px;
}

.device-box {
  position: relative;
}

.device-box img {
  position: absolute;
}

.device-1st {
  top: 50px;
}

.device-2nd {
  top: 90px;
  left: 225px;
}

.app-info {
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20px;
}

.app-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 75px;
}

.app-text img {
  width: 803px;
  height: 174px;
}

.google-play-button {
  background-color: #161b6e;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  margin-left: 30px;
}

.google-play-button:hover {
  background-color: #575a89;
}

.play-button {
  width: 340px;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.play-img-div {
  padding-left: 14px;
  padding-right: 15px;
}

.play-img-div img {
  width: 76px;
  height: 76px;
}

.play-text {
  text-align: left;
  line-height: 32px;
}

/* items section */

.items-container {
  height: 1294px;
  background-color: #575a89;
  font-family: Arial, Helvetica, sans-serif;
  color: #161b6e;
}

.item-title {
  color: #e6e6e6;
  padding: 55px 0px 25px 52px;
  font-size: 49px;
  font-weight: 700;
}

.item-cards-div {
  /* display: flex;
    justify-content: space-around; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0px 0px 0px 52px;
}

.item-card {
  display: inline-block;
  width: 300px;
  height: 423px;
  border-radius: 15px;

  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.item-image {
  width: 300px;
  height: 300px;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  position: relative;
  cursor: pointer;
}

/* Added some Border to Wishlist SVG */
.item-image .wishlist-icon {
  position: absolute;
  background-color: #d9d9d9;
  width: 50px;
  height: 50px;
  top: 15px;
  right: 13px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid #9fa1c1;
  padding: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
}

/* Added Hover effect to Wishlist SVG */
.item-image .wishlist-icon:hover {
  background-color: #9fa1c1;
  color: white;
  transform: scale(1.1);
  cursor: pointer;
}

.item-description {
  display: flex;
  justify-content: space-between;
  background-color: #9fa1c1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 18px 15px 13px 15px;
}

.item-description p,
.items-star div {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.item-description p {
  margin: 6px 0px;
}

.item-heading {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
}

.items-star div {
  display: inline-block;
}

.add-to-card-button {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-align: center;

  width: 87px;
  height: 23px;
  border: 1px solid #161b6e;
  border-radius: 12.5px;
  background: transparent;
  cursor: pointer;
  margin-top: 10px;

  transition: background-color 0.15s, color 0.15s;
}

.add-to-card-button:hover {
  background-color: #161b6e;
  color: #d9d9d9;
}

.see-more-text {
  text-align: right;
  margin-top: 15px;
  padding-right: 42px;
}

.see-more-text a {
  color: white;
}

.see-more-text div {
  display: inline-block;
  border-bottom: 2px solid white;
}

/* footer section */

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: #07081d;
  color: white;
  font-family: arial;
  padding: 17px 0px;
}

.footer-container a {
  color: white;
}

.footer-container a:hover {
  transition: 0.7s ease;
  color: #8f79b9;
}

.footer-title {
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  line-height: 42px;

  margin-top: 27px;
  margin-bottom: 38px;
}

.contact-info div {
  display: flex;
  justify-content: left;
  text-align: center;
  margin-bottom: 38px;
  padding-left: 50px;
}

.contact-info img {
  margin-right: 23px;
}

.contact-info p {
  font-size: 15px;
  padding-top: 10px;
}

.quick-links {
  border-right: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
}

.quick-links-info div {
  text-align: center;
  margin-bottom: 40px;
}

.social-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 60px 0px 60px;
}

.social-div img,
.social-div p {
  cursor: pointer;
}

.social-div div {
  text-align: center;
}

.social-div a {
  font-size: 12px;
}

.social-div img:hover {
  transition: 0.5s ease-in-out;
  transform: scale(1.1);
}

/* ====================== SCROLL BAR ===================== */

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: rgb(7, 31, 48);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#161b6e, #09a0f1);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(#161b6e, #ff00ff);
}
