
    
    
    body {
        background-color: #6e7ca8;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
  
      }
      
      .container {
        max-width: 800px;
        margin: 20px auto;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        
      }
  
      .cart-header{
          display: flex;
          justify-content: center;
  
      }
      
      .cart-icon{
          height: 40px;
          padding-top:0px ;
          margin-left: 6px;
      }
      
      h1 {
        text-align: center;
        margin-top: 0;
      }
      
      table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
      }
      
      table th, table td {
        padding: 10px;
        border: 1px solid #ccc;
        text-align: center;
      }
      
      table th {
        background-color: #555a88;
        color: whitesmoke;
      }
      
      .product-image {
        max-width: 100px;
        max-height: 100px;
      }
      
      .quantity-input {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .quantity-input input[type="number"] {
        width: 40px;
        padding: 5px;
        text-align: center;
      }
      
      .quantity-input button {
        padding: 5px 10px;
        margin: 0 5px;
        background-color: #23095a;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .quantity-input button:hover {
        background-color: #333;
      }
      
      .coupon {
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
      
      .coupon input[type="text"] {
        padding: 5px;
        width: 200px;
      }
      
      .coupon input[type="submit"] {
        padding: 5px 10px;
        margin-left: 10px;
        background-color: #555;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .coupon input[type="submit"]:hover {
        background-color: #333;
      }
      
      .total-amount {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid #ccc;
      }
      
      .proceed-btn {
        padding: 10px 20px;
        background-color: #555;
        color: #fff;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .proceed-btn:hover {
        background-color: #333;
      }
    
