body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #575a89;
    color: #333;
}

.nav_menu .nav_link li a {
    cursor: pointer;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container .head {
    text-align: center;
    margin-bottom: 20px;
}

.container main {
    margin-top: 110px;
}


.container .head h1 {
    margin-top: -141px;
    margin-right: 60px;
    margin-bottom: 36px;
    color: #575a89;
}


section {
    margin-bottom: 20px;
}

h2 {
    color: #555;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
}