@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=DM+Sans:opsz@9..40&family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background color added in HTML */
    scroll-behavior: smooth;

    font-family: 'DM Sans', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
}

body {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/* navigation bar */
header {
    width: 100vw;
    position: fixed;
    top: 0px;
    z-index: 100;
}

.header_container {
    background-color: #d9d9d9;
    /* background-color: white; */
    opacity: 0.9;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    margin: auto;
}

.header_container img {
    width: 10rem;
    height: 3.3rem;
    cursor: pointer;
    margin-left: 40px;
}

li,
a,
button {
    font-family: 'DM Sans', sans-serif;
    font-weight: 750;
    font-size: 18px;
    color: #161b6e;
    text-decoration: none;
}

.nav_link {
    list-style: none;
}

.nav_link li {
    padding: 5px 20px;
    display: inline-block;
}

.nav_link li a {
    transition: all 0.3s ease 0s;
}

.nav_link li a:hover {
    color: rgb(20, 62, 178);

    text-decoration: underline 2.5px rgb(3, 3, 94);
}

.header_container button {
    padding: 9px 25px;
    background-color: #252b99;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #ffffff;
    filter: drop-shadow(3px 4px 2px rgba(0, 0, 0, 0.36));
}

.header_container button:hover {
    background-color: #cbe4f6;
    color: rgb(0, 0, 0);
}

/* Added Code */
.nav_menu2 {
    display: none;
    height: 35vh;
    padding: 2% 0;
    background-color: #d9d9d9;
}

.nav_link2 {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.nav_link2 li {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.nav_menu2.show {
    display: block;
}

.burger-icon {
    display: none;
}

.burger-icon .fa-solid {
    font-size: 2rem;
    color: #0d268c;
}

.nav_login {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
    margin-right: 60px;
}

/* Css for dark mode button */
* {
    box-sizing: border-box;
    padding: 0;
}

body {
    transition: 0.5s linear;
}

body.dark {
    background-color: black;
    color: white;
}

.label {
    margin-left: 27px;
    background: #181717;
    box-shadow:
        inset 0px 5px 15px rgba(0, 0, 0, 0.4),
        inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    position: relative;
    height: 32px;
    width: 73px;
    padding: 3px;
    display: flex;
    transition: 0.3s;
    align-items: center;
}

.moon {
    color: yellow;
    transition: 0.3s;
}

.sun {
    color: yellow;
    margin-left: 16px;
    transition: 0.3s;
}

.ball {
    color: white;
    position: absolute;
    transition: transform 0.3s linear;
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox:checked+.label .ball {
    transform: translate(38px);
}

@media screen and (max-width: 575px) {
    .burger-icon {
        display: flex;
        margin-left: 20px;
    }

    nav {
        display: none;
    }

    .nav_login {
        width: 40%;
    }

    .label {
        margin-left: 40px;
    }
}

@media screen and (min-width: 576px) and (max-width: 787px) {
    .burger-icon {
        display: flex;
        margin-left: 6px;
    }

    .nav_login {
        width: 20%;
    }

    nav {
        display: none;
    }

    .label {
        margin-left: 30px;
    }
}

@media screen and (min-width: 767px) and (max-width: 991px) {
    .burger-icon {
        display: flex;
        margin-left: 11px;
    }

    .nav_login {
        width: 20%;
    }

    nav {
        display: none;
    }

    .label {
        margin-left: 52px;
    }
}

@media screen and (min-width: 992px) {
    .burger-icon {
        display: flex;
    }

    .nav_login {
        width: 10%;
    }

    .burger-icon {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .nav_link2 li {
        text-align: center;
    }

    .header_container button {
        display: none;
    }

    .nav_link2 li a button {
        padding: 9px 25px;
        background-color: #161b6e;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
        color: #d9d9d9;
    }
}

/* container */

.container {
    display: flex;
    font-family: sans-serif;

    padding-top: 80px;
}

.container a {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #f9a826;
    font-size: 20px;
}

.container a:hover {
    text-decoration: underline 2px;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    /* justify-content: center;
  align-items: center; */
}

.content h1 {
    font-size: 80px;
    color: #d9d9d9;
}

.content h1 span {
    color: #f9a826;
}

.content h4 {
    font-size: 20px;
    margin-top: 30px;
    padding-right: 40px;
    line-height: 1.5;
    color: #d9d9d9;
}

.content h4 a {
    display: inline;
    color: #f9a826;
}

.container img {
    width: 30%;
    margin: 40px 70px;

    width: 85%;
    margin: 40px 70px;
    margin-left: 0px;
}

.local {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}

.local input[type='search'] {
    padding: 1rem 5rem 1rem 2rem;
    border-radius: 42px;
    font-family: sans-serif;
    border: none;
    background-color: hsl(0, 0%, 85%);
    text-align: center;
    font-size: 33px;
}

#search::-webkit-search-cancel-button {
    position: relative;
    margin-left: 10px;
}

.local img {
    width: 52px;
    position: relative;
    right: 75px;
}

::placeholder {
    color: #575a89;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}


/* product container */

.product-container {

    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Accessories-box {
    border-radius: 14px;
    width: 130px;
    height: 220px;
    margin: 2em 5em 0 5em;
    align-items: center;
}

.rectangle-42 {
    box-sizing: border-box;
    height: 108px;
    background: #d9d9d9;
    border: 3px solid #161b6e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.5s border-color 0.8s;
}

.rectangle-42:active {
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.15);
    border-color: #d9d9d9;
}

.Accessories-box:hover .rectangle-42 {
    box-shadow: 1px 1px 5px 3px #575a89;
    transition: 0.5s ease-in-out;

}

.Accessories-box:hover .product-name {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

.product-name {
    margin-top: 10px;

    font-family: 'Inter', monospace;

    font-family: 'Inter';

    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

/* app section */

.app-container {
    height: 627px;
    background-image: url('./img/app-section.webp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
}

.device-box {
    width: 40%;
}

.device-frame {
    width: 85%;
}

.vigybag-image {
    width: 100%;
}

.app-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.play-button {
    display: flex;
    align-items: center;
    padding: 1.5rem;
}

.play-button:hover {
    cursor: pointer;
}

.google-button {
    background-color: #0d268c;
    border-radius: 20px;
}

.google-button:hover {
    background-color: #575a89;
}

.play-text {
    color: #ffffff;
    z-index: 999;
}

@media screen and (max-width: 767px) {
    .app-container {
        flex-direction: column;
        align-items: center;
        height: 50%;
    }

    .device-box {
        width: 90%;
    }

    .device-frame {
        width: 100%;
    }

    .vigybag-image {
        width: 100%;
    }

    .app-info {
        width: 90%;
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .app-container {
        align-items: center;
    }

    .device-box {
        width: 40%;
    }

    .device-frame {
        width: 80%;
    }

    .vigybag-image {
        width: 100%;
    }

    .app-info {
        width: 60%;
    }
}

@media screen and (min-width: 1200px) {
    .device-box {
        width: 40%;
    }

    .app-info {
        width: 50%;
    }

    .device-frame {
        width: 80%;
        height: 100%;
    }

    .vigybag-image {
        width: 100%;
    }
}

/* items section */

.items-container {
    height: 100%;
    width: 100%;
    /* background-color: #575a89; */
    font-family: Arial, Helvetica, sans-serif;
    color: #161b6e;
}

.item-title {
    display: flex;
    justify-content: center;
    color: #e6e6e6;
    padding: 55px 0px 25px 52px;
    font-size: 49px;
    font-weight: 700;
    position: relative;
    top: -10%;
}

.item-row {
    position: relative;
}

.item-cards-div {
    display: flex;
    justify-content: center;
    margin: auto 2.5rem;
    width: 95%;
    overflow: hidden;
}

.item-cards-scroll-btn {
    position: absolute;
    top: 60%;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 24px;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.item-cards-scroll-btn:hover {
    opacity: 1;
}

.prev-btn {
    left: 4rem;
    z-index: 1;
}

.next-btn {
    right: 4rem;
}

.item-card1 {
    display: flex;
    flex-direction: row;
}

.item-card {
    padding: 1rem;
    /* margin-left: 3em; */
    min-width: 260px;
    /* height: 423px; */
    border-radius: 15px;
    /* box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02); */
    -webkit-transition: 0.3s ease-in-out;
    -webkit-transform: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -moz-transform: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    transform: 0.3s ease-in-out;
}

.item-card:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
    transform: scale(1.05);
}

.item-image {
    height: 230px;
    background-color: #d9d9d9;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    cursor: pointer;
}

.item-image>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Media queries for small devices */
@media screen and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .container img {
        width: 100%;
        max-width: 40px;
        height: auto;
        margin: 2px 40px;
    }

    .container a {
        font-size: 16px;
    }

    .content {
        text-align: center;
        padding: 0 20px;
    }

    .content h1 {
        font-size: 40px;
    }

    .content h4 {
        font-size: 16px;
        margin-top: 20px;
        padding-right: 20px;
    }



    .local input[type='search'] {
        padding: 10px 20px;
        font-size: 20px;
    }

    .Accessories-box {
        width: 100%;
        margin: 20px 0;
    }

    .rectangle-42 {
        height: 150px;
    }

    .product-name {
        font-size: 18px;
    }

    .container .sec-img {
        max-width: 1000px;
    }
}

/* Media queries for larger mobile devices and tablets */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .content h1 {
        font-size: 60px;
    }

    .content h4 {
        font-size: 18px;
    }

    .container img {
        width: 100%;
        max-width: 40px;
        height: auto;
        margin: 20px 0;
    }

    .container .sec-img {
        max-width: 1000px;
    }

}



/* Media queries for tablets and smaller laptops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .content h1 {
        font-size: 70px;
    }

    .content h4 {
        font-size: 20px;
    }

    .container img {
        width: 100%;
        max-width: 45px;
        height: auto;
        margin: 20px 0;
    }

    .container .sec-img {
        max-width: 1000px;
    }
}

/* Added some Border to Wishlist SVG */
.item-image .wishlist-icon {

    position: absolute;
    background-color: #d9d9d9;
    width: 26px;
    height: 30px;
    top: 15px;
    right: 13px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    border: 2px solid #9fa1c1;
    padding: 5px;
    transition: all 0.5s ease;
    cursor: pointer;
}

/* Added Hover effect to Wishlist SVG */
.item-image .wishlist-icon:hover {
    background-color: #9fa1c1;
    color: white;
    transform: scale(1.1);
    cursor: pointer;
}

.item-description {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #9fa1c1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 18px 15px 13px 15px;
}

.item-description-2 {
    display: flex;
    background-color: #9fa1c1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 18px 15px;
}

.Lbtn {
    border: none;
    font-size: 30px;
    background-color: #d9d9d9;
    color: gray;
    transition: all 0.3s ease 0s;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 15px;
    right: 13px;
}

.Lbtn i:hover {
    cursor: pointer;
}

.item-description {
    display: flex;
    justify-content: space-between;
    background-color: #9fa1c1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 18px 15px 13px 15px;
}

.item-description p,
.items-star div {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    font-family: 'Roboto', sans-serif;
}

.items-star i {
    color: #e6e6e6;
    cursor: pointer;
    transition: color 0.2s ease;
}

.items-star i.active {
    color: green;
}

.item-description p {
    margin: 6px 0px;
}

.item-heading {
    font-size: 15px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    width: auto;
    display: flex;
}

p {
    font-size: 12px;
}

.item-heading h3 {
    margin-left: -20px;
    font-size: 15px;
}

.item-paise {
    margin-top: 8px;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    color: #161b6e;
}

.items-star {
    display: flex;
}

.addbtn {
    border: none;
    font-size: 18px;
    border-radius: 50%;
    background-color: #d9d9d9;
    color: gray;
    transition: all 0.3s ease 0s;
    position: relative;
    width: 45px;
    height: 45px;
    left: 0px;
}

.add-to-card-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    text-align: center;

    width: 87px;
    height: 23px;
    border: 1px solid #161b6e;
    border-radius: 12.5px;
    background: transparent;
    cursor: pointer;
    margin-top: 10px;

    transition:
        background-color 0.15s,
        color 0.15s;
}

.add-to-card-button:hover {
    background-color: #bbbdf0;
    color: #0a0a0a;

}

.see-more-text {
    text-align: right;
    margin-top: 15px;
    padding-right: 42px;
}

.see-more-text a {
    color: white;
}

.see-more-text div {
    display: inline-block;
    border-bottom: 2px solid white;
}

/* footer section */

footer {
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #ffff;
    line-height: 20px;
}

.footer-title {
    font-weight: 700;
    font-size: 26px;
    margin-bottom: 22px;
}

.row {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.col {
    padding: 20px 0;
}

.col h3 {
    font-size: 25px;
}

#col1 {
    flex-basis: 40%;
    margin-right: 40px;
}

#col2 {
    flex-basis: 20%;
    margin-right: 10px;
    font-size: 15px;
}

#col3 {
    flex-basis: 15%;
}

#col4 {
    flex-basis: 15%;
}

.logo {
    margin-bottom: 30px;
}

@media (max-width:941px) {
    .logo {
        text-align: center
    }
}

.col h3 {
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

#col2 p {
    margin-bottom: 18px;
}

#col2 p a {
    font-size: 15px;
    padding-top: 10px;
    color: #fff;
}

.email-id {
    width: fit-content;
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

.quick-links-info div {
    margin-bottom: 20px;
}

.quick-links-info div a {
    color: #fff;
    font-size: 15px;
}

.underline {
    width: 100%;
    height: 5px;
    background: #767676;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 0;
    overflow: hidden;
}

.underline span {
    width: 15px;
    height: 100%;
    background: #fff;
    border-radius: 3px;
    position: absolute;
    top: 0;
    left: 10px;
    animation: moving 1s linear infinite;
}

@keyframes moving {
    0% {
        left: -20px;
    }

    100% {
        left: 100%;
    }
}

.social-icons img:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.1);
}

.social a {
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;

}

/* ====================== SCROLL BAR ===================== */

::-webkit-scrollbar {
    width: 12px;
}

.quick-links-info div a:hover {
    color: #46464a;
}

/* media query */
@media (max-width: 670px) {
    footer {
        bottom: unset;
    }

    .row {
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .col {
        flex-basis: 100%;
    }

    .contact-location iframe {
        width: 50%;
        margin: 0 40px;
    }
}

/* ====================== Copyright ===================== */
#copyright p {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 0 0 1vh 0;
}

#copyright p span {
    cursor: pointer;
    color: orange;
}

.pay {
    display: flex;
    justify-content: center;
    padding: 1vh 0;
}

/* ====================== SCROLL BAR ===================== */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: rgb(7, 31, 48);
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(#161b6e, #09a0f1);
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(#161b6e, #ff00ff);
}

/* FAQ section css */
.faq {
    /* background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e); */
    height: auto;
    margin: 3vh 0;
}

.title {
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

div.c {
    position: relative;
    margin: 2em;
}

div.c input {
    position: absolute;
    left: 0;
    top: 0;
    height: 70%;
    width: 70%;
    opacity: 0;
    visibility: 0;
}

div.c h1 {
    font-size: 20px;
    box-shadow:
        rgba(0, 0, 0, 0.09) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
    background-image: linear-gradient(to right, #575a89, #4b4e75, #8d8fa5);
    color: white;
    padding: 0.8em;
    position: relative;
}

div.c label::before {
    content: '';
    display: inline-block;
    border: 15px solid transparent;
    border-left: 20px solid white;
}

div.c label {
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
}

div.c div.p {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.c p {
    color: #000000;
}

div.c div.p p {
    padding: 2em;
}

div.c input:checked~h1 label::before {
    border-left: 15px solid transparent;
    border-top: 20px solid white;
    margin-top: 12px;
    margin-right: 10px;
}

div.c input:checked~h1~div.p {
    max-height: 196px;
}

div.c a {
    color: steelblue;
}

/* seervice */

.services {
    width: 100vw;
    height: 100%;
    padding: 0px 8%;
    background: blue;
}

#h1 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    padding: 0.4em;
    font-weight: 600;
}

.services h1::after {
    content: '';
    background: #303ef7;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

.row {
    display: flex;
    margin-bottom: 5vh;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: 'DM Sans', 'Helvetica Neue';
    font-family: 'Poppins';
}

.first-row {
    display: flex;
    margin: auto;
}

.second-row {
    display: flex;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .row {
        display: flex;
        flex-direction: column;
    }
}

.service {
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    background: white;
    transition:
        transform 0.5s,
        background 0.5s;
    margin: 0.5rem;
}

@media screen and (max-width: 380px) {
    .first-row {
        display: flex;
        flex-direction: column;
    }

    .second-row {
        display: flex;
        flex-direction: column;
    }
}

.service i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #000000;
}

.service h2 {
    font-weight: 600;
    margin-bottom: 8px;
    color: #000000;
}

.service p {
    color: #000000;
}

.service:hover {
    background: #9fa1c1;
    color: #fff;
    transform: scale(1.03);
}

.service:hover h2 {
    color: #fff;
}

.service:hover p {
    color: #fff;
}

.service:hover i {
    color: #fff;
}

/* pop up */

/* The Modal (background) */
.ebcf_modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 200px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.ebcf_modal-content {
    background-color: #8d90de;
    display: flex;
    margin: auto;
    width: 50%;
    height: 50vh;
}

/* The Close Button */
.ebcf_close {
    color: #08032f;
    position: sticky;
    left: 50.2em;
    margin: 0 0.5em;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
}

.ebcf_close:hover,
.ebcf_close:focus {
    color: #0b2845;
    text-decoration: none;
    cursor: pointer;
}

#modalImage {
    height: 50vh;
    align-items: center;
    width: fit-content;
    display: flex;
}

#modalImage img {
    width: 15em;
}

.popup-details {
    margin: 10vh 0;
    padding: 1.5em;
    font-size: 1.5em;
}

.popup-details h5 {
    /* margin: .6vh 0; */
    font-size: 1.1em;
}

.pattern {
    margin: 0.5vh 0;
}

.btn-product button {
    cursor: pointer;
    padding: 0.7vh 0.9vw;
    background: transparent;
    background-color: rgb(156, 142, 227);
    color: #000;
    margin: 0.6vh 0.4vw;
    border: 0.5px solid rgb(56, 56, 56);
}

.btn-product button:hover {
    background-color: #101e78;
    color: #fff;
    transition: 0.3s;
    box-shadow: 1.3px 1.3px 1.3px 1px rgb(45, 45, 45);
}

.popup-details h5 span {
    font-size: 0.6em;
    position: relative;
    bottom: 3px;
}

.popup-details p {
    font-size: 0.6em;
}

/* go to top */
.go-top {
    position: fixed;
    width: 50px;
    height: 50px;
    /* color: #2a2a72; */
    background: linear-gradient(315deg, #227ebb 100%, #0a1458 20%, #243fe9 60%);
    /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
    bottom: 10px;
    right: 45px;
    border-radius: 50%;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
}

@media (max-width: 769px) {
    .gotop {
        right: 1.5rem;
    }
}

@media (max-width: 426px) {
    .gotop {
        right: 1rem;
    }
}

@media (max-width: 780px) {
    .footer-container {
        flex-direction: column;
    }
}

/* cart */

.cd-cart__product {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.cd-cart__image {
    flex: 0 0 80px;
    margin-right: 10px;
}

.cd-cart__image img {
    max-width: 100%;
}

.cd-cart__details {
    flex: 1;
}

.cd-cart__details h3 {
    margin-bottom: 5px;
}

.cd-cart__price {
    display: block;
    font-weight: bold;
    color: #555;
}

.cd-cart__actions {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.cd-cart__delete-item {
    margin-right: 10px;
}

.cd-cart__delete-item:hover {
    color: #e74c3c !important;
}

.cd-cart__quantity {
    display: flex;
    align-items: center;
}

.cd-cart__quantity label {
    margin-right: 5px;
}

.cd-cart__select select {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #f9f9f9;
}