.custom-popup {
    background-color: rgb(242, 242, 242) !important;
    border-radius: 10px !important;
  }
  
  .custom-title {
    color: #028c2b !important;
    font-size: 28px !important;
    font-weight: bold !important;
  }
  
  .custom-content {
    color: #333 !important;
    font-size: 18px !important;
  }
  
  .custom-confirm-button {
    background-color: #0e7202 !important;
    color: white !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    font-size: 16px !important;
  }
  
  .custom-confirm-button:hover {
    background-color:#0a5801 !important;
    transform: translateY(2px);
  }
  