.flip-container {
    perspective: 1000px;
    width: 100%;
    height: 100%;
  }
  
  .flip-container.flipped .flipper {
    transform: rotateY(180deg);
  }
  
  .flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
  }
  
  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .front {
    z-index: 2;
    transform: rotateY(0deg);
  }
  
  .back {
    transform: rotateY(180deg);
  }