 @import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
 }  

 .review-container {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .testimonials-wrapper {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
      
    background-size: cover;
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.4);
    position: relative;
  }
  
  .testimonials-header {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
  
  .testimonials-header h3 {
    font-size: 2rem;
    font-weight: 300;
    color: #ccc;
  }
  
  .testimonials-header h1 {
    margin-top: 15px;
    font-size: 3rem;
    font-weight:50;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 0.4rem;
  }
  .testimonials {
    width: 55%;
    height: 50rem;
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
  }

  .slider {
    height: 80vh;
    width: 500%;
    display: flex;
    transition: all 0.8s cubic-bezier(1, 0, 0, 1);
  }
  
  .slide {
    width: 20%;
    position: relative;
  }
  
  .slide-bg {
    width: 70%;
    height: 55%;
    background-color: rgb(87, 90, 137);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-6deg);
    border-radius: 1rem;
    opacity: 0.7;
  }
  
  .slide-content {
    width: 75%;
    height: 55%;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -40%);
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
  }
  
  .slide i {
    font-size: 5rem;
    color:rgb(87, 90, 137);
    position: absolute;
  }
  
  .slide i:nth-child(1) {
    top: -10%;
    left: 8%;
  }
  
  .slide i:nth-child(2) {
    bottom: -10%;
    right: 10%;
  }
  
  .slide-img {
    width: 10rem;
    height: 10rem;
    position: relative;
  }
  
  .slide-img::after,
  .slide-img::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0.2rem solid rgba(0, 0, 0, 0.4);
    border-radius: 3rem 0 3rem 0;
    z-index: -1;
  }
  
  .slide-img::after {
    top: -1rem;
    left: -0.5rem;
  }
  
  .slide-img::before {
    bottom: -1rem;
    right: -0.5rem;
  }
  
  .slide-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3rem 0 3rem 0;
  }
  
  .slide-text {
    width: 60%;
  }
  
  .slide-text h3 {
    font-size: 2.5rem;
    font-weight: 300;
    color: #111;
    margin-bottom: 1rem;
  }
  
  .slide-text p {
    font-size: 1.4rem;
    font-weight: 300;
    color: rgb(30, 40, 35);
    line-height: 1.2;
    margin-bottom: 3rem;
    width: 28rem;
    font-family: 'Marck Script', cursive;
  }
  
  .slide-text .client {
    font-size: 1.8rem;
    color: rgb(87, 90, 137);
  }
  
  .controls i {
    width: 5rem;
    height: 5rem;
    background-color: #7b8584;
    opacity: 0.6;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #444;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .controls i:hover {
    color: rgb(200, 200, 200);
    opacity: 0.8;
  }
  
  .controls i:nth-child(1) {
    left: 15%;
  }
  
  .controls i:nth-child(2) {
    right: 15%;
  }
  
  .dots {
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
  }
  
  .dots span {
    width: 1rem;
    height: 1rem;
    background-color: #ccc;
    border-radius: 50%;
    margin: 0 0.5rem;
    cursor: pointer;
  }
  
  .dots span.active {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
  }