body {
    font-family: Arial, sans-serif;
 justify-content: center;
padding: 50px;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #f1ddd0;
}


.container{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px ;
}
.card {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
margin: 5px !important;
 
}

.card img {
    width: 80px;
    height: 100px;
}

.card-content {
    padding: 20px;
}

.card-content h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #333;
}
h1{
    color: #333;
    font-size: 50px;
    padding-top: 35px;
}
.card-content p {
    margin: 0;
    color: #666;
    font-size: 16px;
}
.flex-container{

  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
  height: 60vh; /* Make the container full height of the viewport */
}




h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}



/* Make the cards align horizontally on large screens */
@media (min-width: 768px) {
  .container {
    flex-direction: row;
  width: 100%;
  }
  .card {
    width: 100%;
    max-width: 100%;
    margin: 0;

  }
}

/* Make the cards align vertically on small screens */
@media (max-width: 767px) {
  .container {
    padding-left: 10px  ;
    padding-right: 10px;
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 100%;
    padding: 15px;
  }
}

/* new faq */
.faq {
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding-left: 20px;
   padding-right: 20px;
}
  
  .faq h2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  .faq ul {
    list-style: none;
    padding: 0;
  }
  
  .faq li {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
  }
  
  .faq h3 {
    font-size: 18px;
    margin: 0;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .faq h3:hover {
    color: #333;
  }
  
  .faq .arrow {
    float: right;
    transition: transform 0.3s ease;
  }
  
  .faq .arrow span {
    font-size: 14px;
  }
  
  @media (max-width: 768px) {
    .faq h3 {
      font-size: 16px;
    }
  
    .faq .arrow {
      float: none;
      display: inline-block;
      margin-left: 10px;
      transform: rotate(-90deg);
    }
  }
