{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div>
    <div class="p-3 mb-3 bg-dark text-light">
        <span style="font-size:20px;margin-left:5px;padding:5px;word-spacing: 5.5px;">Sign Out of  VigyBag</span>
     </div>
     
<div class="container text-center">         
<p style="font-size:22px;margin-top:36px;">{% trans 'Are you sure you want to sign out' %} <b>{{user}}<b> ?</p>
<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-dark p-2" type="submit">{% trans 'Sign Out' %}</button>

</form>
</div>

</div>
{% endblock %}