.contributors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.contributor p {
  margin-top: 10px;
  font-weight: bold;
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me .about-me-container {
  position: relative;
}

@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}