.contributors-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

body.dark-mode {
  background-color: #222;
  color: #fff;
}

body.dark-mode {
  color: #fff;
}


.contributor {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contributor img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.contributor p {
  margin-top: 10px;
  font-weight: bold;
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-me .about-me-container {
  position: relative;
}

@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}
/* Basic reset for consistent styling */
body, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Footer container styling */
.footer-container {
  background-color: #f8f8f8;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #eaeaea;
}

/* Footer section styling */
.footer-section {
  flex: 1 1 300px;
  margin: 10px;
}

/* Footer title styling */
.footer-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #333;
}

/* Contact info styling */
.contact-info, .quick-links-info, .social-container {
  margin-top: 10px;
}

.contact-location, .contact-email, .contact-ph-number {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-email a, .contact-ph-number a {
  color: #333;
  text-decoration: none;
}

/* Icon styling */
.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

/* Quick links styling */
.quick-links-info a, .social-div p a {
  color: #333;
  text-decoration: none;
}

.social-div {
  display: flex;
  flex-direction: column;
}

.social-div div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.social-div img {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.quick-links-info div, .social-div p {
  margin-bottom: 10px;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-section {
      flex: 1 1 100%;
  }
}
