{% extends 'base.html' %}

{% block content %}
<div class="p-3 mb-3 bg-dark">
    <div class="container d-flex justify-content-between p-2">
        {% if user.is_authenticated %}
        <div><a class="text-light" href="{% url 'account_email' %}">Change E-mail</a></div>
        {% comment %} <div><a class="text-light" href="{% url 'home' %}">Home</a></div> {% endcomment %}
        <div><a class="text-light" href="{% url 'account_logout' %}">Sign Out</a></div>
        {% else %}
        <div><a class="text-light" href="{% url 'account_login' %}">Sign In</a></div>
        <div><a class="text-light" href="{% url 'account_signup' %}">Sign Up</a></div>
        {% endif %}
    </div>
  </div>

  <div class="container text-center" style="margin-top:20px;">
        <h2>Home</h2>
        <p>Hello {{ user.first_name }}!</p>
        <p>Your Username : {{ user }}</p>
        {% comment %} <a class="btn btn-dark" href="{% url 'account_logout' %}">Logout</a> {% endcomment %}
    </div>
</div>
{% endblock %}