{% extends 'base2.html' %}

{% load static %}

{% block content %}
<div class="container">
    <div class="text-center mt-5 d-flex">
          <div  style="position: relative; display: inline-block; margin-right:1.8cm;">
            <div style="position: -webkit-sticky;position: sticky; top: 2.5cm;">
            <img style="width:70%;" src="{{ default_image }}" alt="Product Image">
            {% comment %} <img id="productImg" style="width:70%;" src="{{ default_image }}" alt="Product Image"> {% endcomment %}
           <button style="position: absolute; top: 10px; right: 10px;"><i class="fas fa-share-square"></i></button>
            </div>
           </div>  
          <div>
            <h2 style="text-align: left;margin-left:5px;">{{product.name}}</h2>
            <p style="text-align: left;font-size:17px;margin-left:5px;">{{product.info}}</p>
             <div style="border: 1px solid black; display: flex; align-items: center; padding: 20px; width:6cm;">
                <span style="margin-right: 10px;">{{product.stars}} &#9733;</span>
                <div style="border-left: 1px solid black; padding-left: 10px;margin-bottom:5px">
                   {{product.rating}}  Ratings
                </div> 
                
            </div>
            <hr style="border-color: black;margin-top:20px;">
            <div>
                <div style="display: flex; align-items: baseline;">
                    <h4 style="margin-right: 10px;">Rs. {{product.sellingprice}}</h4>
                    <span style="font-size: 18px;">MRP <del>Rs. {{product.MRP}}</del> (Rs. {{discount}} OFF)</span>
                </div>
                <div style="text-align: left;" >
                    <span style="font-size:15px; color:green;">inclusive of all taxes</span>
                </div>
                {% comment %} {% if colors %}
                <div style="text-align: left;margin-top:24px;margin-bottom:20px">
                    <h6 style="margin-bottom:11px;">COLOR OPTIONS</h6>
                    {% for color in colors %}
                    <button class="text-center" type="button" onclick="changeImage(this);" data-img-url="{{ color.image.url }}" style="border: 2px solid black; border-radius: 10px; width: 90px; height:38px;padding:8px;">{{ color.name }} </button>
                    {% endfor %}
                </div>
                {% endif %} {% endcomment %}
                
                 {% if colors %}
                <div style="text-align: left;margin-top:24px;margin-bottom:20px">
                <h6 style="margin-bottom:11px;">COLOR OPTIONS</h6>
                    {% for color in colors %}
                    <button class="text-center" type="button" style="border: 2px solid black; border-radius: 10px; width: 90px; height:38px;padding:8px;">{{ color }} </button>
                    {% endfor %}
                </div>
                {% endif %} 
            
                <div style="text-align: left;margin-top:24px;margin-bottom:20px">
                    {% if sizes %}
                    <h6 style="margin-bottom:11px;">SELECT SIZE</h6>
                        {% for size in sizes %}
                        <button class="text-center" type="button" style="border: 2px solid black; border-radius: 10px; width: 90px;padding:8px;">{{ size }} </button>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="d-flex" style="margin-top:40px;">
                    <button type="button" class="btn btn-dark p-3" style="margin-right:0.5cm;width:6.3cm;" >🛍️ Add to Bag</button>
                    <button type="button" class="btn ml-2 border-dark p-3" style="width:6.3cm" >💗 Wishlist</button><br>  
                </div>
                <div style="text-align:left;margin-top:3px;">This item cannot be returned</div>
                
            </div>
            <hr style="border-color: black;">
            <div style="text-align:left;">
              <h6 style="display: inline;">Seller: </h6>{{product.seller}}
            </div>
            <div style="text-align:left;">
               <h6 style="display: inline;">Location: </h6>{{product.location}}
            </div>
            <hr style="border-color: black;"> 
                <div style="text-align:left;">
                    <h6 style="display: inline;margin-right:7px;">DELIVERY OPTIONS</h6>
                    <i class="fas fa-shipping-fast"></i>
                    <br>
                    <input style="border: 2px solid black;margin-top:17px;padding:8px;" type="text" placeholder="Enter Pincode"/>
                    <p style="font-size:13px;margin-top:3px;">Please enter PIN code to check delivery time & Pay on Delivery Availability</p>
                    <p style="margin-bottom:2px;">100% Original Products</p>
                    <p style="margin-bottom:2px;">Pay on delivery might be available</p>
                    <p style="margin-bottom:2px;">Easy 7 days exchanges</p>
                    <p style="margin-bottom:10px;">This item is only exchangeable for the same or a different size, if available, and cannot be returned</p>
                </div>
                <hr style="border-color:black;"> 
                <div style="text-align:left;">
                    <h6 style="display: inline;margin-right:7px;">PRODUCT DETAILS</h6><i class="fas fa-info-circle"></i>
                    <h6 style="margin-top:13px;">Features:</h6>
                    <p style="word-break: break-all; width:13cm;">{{product.features|safe}}</p>
                    <h6 style="margin-top:12px;">Specifiactions:</h6>
                    <p style="word-break: break-all; width:13cm;">{{product.specifiactions|safe}}</p>
                    </p>
                </div> 
                <hr style="border-color:black;"> 
                <div style="text-align:left;">
                    <i class="fas fa-star p-1" style="margin-right: 3px; position: relative; color: yellow; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;">
                        <i class="fas fa-star" style="position: absolute; left: -3px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;"></i>
                    </i>
                    <h6 style="display: inline;margin-right:7px;">RATINGS</h6>
                    <div style="display: flex; align-items: stretch;">
                        <div style="display: flex; align-items: center; justify-content: center; flex-direction: column; width: 40%;">
                            <div style="display: flex; align-items: center;">
                                <p style="font-size: 50px; font-weight: 500; margin-right: 8px; margin-bottom: 0;">{{product.stars}}</p>
                                <p style="font-size: 30px; font-weight: 500; color: green; margin: 0;">&#9733;</p>
                            </div>
                            <p style="font-size: 15px; color: green; margin-top:0px;margin-left:0px;">Verified Buyers</p>
                        </div>
                        
                        
                        <div class="ratings-container" style="width: 250px; font-family: Arial, sans-serif;">
                            <div class="rating-item" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <span>5 stars</span>
                                <div class="rating-bar" style="flex-grow: 1; height: 10px; background-color: #e0e0e0; margin: 0 10px; position: relative;">
                                    <div class="rating-fill" style="position: absolute; top: 0; left: 0; bottom: 0; background-color: #ff9900; width:80%;"></div>
                                </div>
                                <span>80%</span>
                            </div>
                            <div class="rating-item" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <span>4 stars</span>
                                <div class="rating-bar" style="flex-grow: 1; height: 10px; background-color: #e0e0e0; margin: 0 10px; position: relative;">
                                    <div class="rating-fill" style="position: absolute; top: 0; left: 0; bottom: 0; background-color: #ff9900; width:10%;"></div>
                                </div>
                                <span>10%</span>
                            </div>
                            <div class="rating-item" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <span>3 stars</span>
                                <div class="rating-bar" style="flex-grow: 1; height: 10px; background-color: #e0e0e0; margin: 0 10px; position: relative;">
                                    <div class="rating-fill" style="position: absolute; top: 0; left: 0; bottom: 0; background-color: #ff9900; width:5%;"></div>
                                </div>
                                <span>5%</span>
                            </div>
                            <div class="rating-item" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <span>2 stars</span>
                                <div class="rating-bar" style="flex-grow: 1; height: 10px; background-color: #e0e0e0; margin: 0 10px; position: relative;">
                                    <div class="rating-fill" style="position: absolute; top: 0; left: 0; bottom: 0; background-color: #ff9900; width:3%;"></div>
                                </div>
                                <span>3%</span>
                            </div>
                            <div class="rating-item" style="display: flex; align-items: center; margin-bottom: 5px;">
                                <span>1 star</span>
                                <div class="rating-bar" style="flex-grow: 1; height: 10px; background-color: #e0e0e0; margin: 0 10px; position: relative;">
                                    <div class="rating-fill" style="position: absolute; top: 0; left: 0; bottom: 0; background-color: #ff9900; width:2%;"></div>
                                </div>
                                <span>2%</span>
                            </div>
                        </div>                        
                    </div>   
                </div> 
                <hr style="border-color:black;">    
                <div style="text-align:left;">
                    <h6 style="display: inline;margin-right:7px;">CUSTOMER REVIEWS</h6>
                    <h6 style="margin-top:13px;">Customer 1:</h6>
                    <p style="word-break: break-all; width:13cm;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum quae neque vero magnam reprehenderit totam necessitatibus illum minima, voluptate obcaecati est porro ipsam modi quos!</p>
                    <h6 style="margin-top:13px;">Customer 2:</h6>
                    <p style="word-break: break-all; width:13cm;">Lorem ipsum dolor sit amet consectetur adipisicing elitvoluptate obcaecati minus, sapiente.</p>
                    <h6 style="margin-top:18px;color:green;">View all comments</h6>
                </div>
                <hr style="border-color:black;">
            </div>      
        </div>
    </div> 
   <script>
        function changeImage(buttonElement) {
        const imageUrl = buttonElement.getAttribute("data-img-url");
        document.getElementById('productImg').src = imageUrl;
        }
    </script>
</div>    
{% endblock %}