.feedback-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(236, 237, 238, 0.6);
}

.feedback-form {
  display: flex;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 100%;
  max-width: 800px;
  margin-top: 90px;
  margin-bottom: 25px; 
  box-sizing: border-box;
}

.feedback-form h2 {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  color: #16a34a;
  font-size: 41px;
  font-weight: 750;
  margin-bottom: 5px;
  text-align: center;
}

.feedback-form p {
  color: #666;
  font-size: 18.5px;
  margin-bottom: 20px;
  text-align: center;
}

.feedback-form .rating-container {
  display: flex;
  justify-content: center; 
  margin-top: 0px;
  margin-bottom: 10px;
}

.rating-container button {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  padding: 0;
  color: #ccc;
}

.rating-container button.active {
  color: rgb(249, 211, 0);
}
.rating-container button.active:hover {
  color: gold;
}
.rating-container button:hover {
  transform: scale(1.2);
  color: #a9a9a9;
  
}

.vigyname {
  color: #41ae6b;
  font-weight: 700;
  font-size: 19.5px;
  font-family:'Trebuchet MS', sans-serif;
}

.feedback-form button {
  background: none;
  border: none;
  font-size: 47px;
  padding: 0px 6px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.feedback-form form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.feedback-form label {
  font-size: 18px;
  margin-bottom: 7px;
  color: #333;
}

.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
}

.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
  outline: none;
  border-color: #038537;
  background-color: rgba(236, 253, 248, 0.705);
}

.feedback-form textarea {
  resize: vertical;
}

.feedback-form button[type="submit"] {
  background-color: #16a34a;
  color: white;
  border: none;
  padding: 13px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s ease;
}

.feedback-form button[type="submit"]:hover {
  background-color: #166635;
  transform: translateY(2px);
}

.label-big {
  font-size: 1.2em;
  margin-bottom: 10px;
  padding: 5px 0;
  color: #333333;
}

.select-container {
  margin-bottom: 20px;
}

.select-container select {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.select-container select:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

textarea {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

textarea:focus {
  border-color: #007bff; 
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button[type="submit"] {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #007bff; 
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
  background-color: #0056b3; 
  transform: scale(1.05);
}

button[type="submit"]:focus {
  outline: none;
}
