@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Nunito", sans-serif;
 
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
    background: linear-gradient(to right, #77c8e6 25%, #b6ccea 100%);
    /* overflow-x: hidden; */
}

.orange {
  color: #FF7A01;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.about-me-flex-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container {
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0px 40px;
}

/* Css for dark mode button */
body.dark {
  background-color:black;
  color: white;
}

.label1 {
  margin-left: 27px;
  background: #181717;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  position: relative;
  height: 32px;
  width: 73px;
  padding: 3px;
  display: flex;
  transition: 0.3s;
  align-items: center;
}

.moon1 {
  color: yellow;
  transition: 0.3s;
}

.sun1 {
  color: yellow;
  margin-left: 16px;
  transition: 0.3s;
}

.ball1 {
  color: white;
  position: absolute;
  transition: transform 0.3s linear;
}

.checkbox {
  opacity: 0;
  position: absolute;

}

.checkbox:checked+.label1 .ball1 {
  transform: translate(38px);
}

@media (min-width: 1200px) and (max-width: 1441px) {
  .container {
    max-width: 1250px;
    padding: 0px 36px;
  }
}
@media (max-width: 767px) {
  .container {
    padding: 0px 30px;
  }
}
@media (max-width: 479px) {
  .container {
    padding: 0px 30px 0px 20px;
  }
}

.about-me {
  padding-top: 50px;
  padding-bottom: 50px;
}
.about-me .about-me-container {
  position: relative;
}
@media (max-width: 960px) {
  .about-me .about-me-container {
    padding-bottom: 100px;
  }
}

/*.about-me .about-me-container .about-me-title {
  font-size: 55px;
  color: #000000;
  font-weight: 700;
}
@media (max-width: 500px) {
  .about-me .about-me-container .about-me-title {
    font-size: 30px;
  }
}

.about-me-flex-container {
  margin-top: -25px;
  margin-left: 150px;
  left: 100px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 960px) {
  .about-me-flex-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    gap: 50px;
  }
}
@media (max-width: 500px) {
  .about-me-flex-container {
    margin-top: -10px;
  }
}
.about-me-flex-container .about-me-image {
  position: relative;
  width: 400px;
  height: 400px;
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-image {
    width: 300px;
    height: 300px;
  }
}
.about-me-flex-container .about-me-image .back-div {
  position: absolute;
  bottom: 0;
  z-index: -3;
  background-color: #013747;
  width: 80%;
  height: 80%;
}
.about-me-flex-container .about-me-image .black-image {
  z-index: -2;
  position: absolute;
  left: 10px;
  bottom: 10px;
  height: 100%;
}
.about-me-flex-container .about-me-image .black-image img {
  height: 100%;
}
.about-me-flex-container .about-me-image .main-image {
  width: 70%;
  height: 70%;
  overflow: hidden;
  position: absolute;
  left: 25%;
  top: 5%;
  box-shadow: rgb(0, 0, 0) 0px 7px 50px 0px;
  transition: all 0.2s ease-out;
}
.about-me-flex-container .about-me-image .main-image:hover {
  transform-origin: top center;
  transform: scale(1.5);
  border-radius: 25px;
}
.about-me-flex-container .about-me-image .main-image img {
  transform-origin: center center;
  transform: scale(2);
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.2s ease-out;
}
.about-me-flex-container .about-me-image .main-image img:hover {
  transform: scale(1);
}
.about-me-flex-container .about-me-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  flex: 0 0 40%;
}
@media (max-width: 960px) {
  .about-me-flex-container .about-me-content {
    flex-direction: row-reverse;
  }
}
.about-me-flex-container .about-me-content .logo {
  max-width: 200px;
}
.about-me-flex-container .about-me-content .logo img {
  filter: drop-shadow(0 0 25px rgb(0, 0, 0));
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .logo img {
    transform: rotateZ(90deg);
  }
}
.about-me-flex-container .about-me-content .text {
  color: #000000;
  font-weight: 600;
  font-size: 22px;
}
@media (max-width: 500px) {
  .about-me-flex-container .about-me-content .text {
    font-size: 16px;
  }
} */

.header{
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 30px;
}

.image{
  width: 550px;
  height: 500px;
  border-radius: 50%;
}

.image-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.about-wrapper{
display: flex;
justify-content: space-evenly;
align-items: center;
margin-top: 50px;
}

.description-wrapper{
  width: 650px;
  text-align: left;
}

.description{
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

.read-more-btn{
  margin-top: 30px;
  border: none;
  outline: none;
  padding: 15px;
  background-color: #001925;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.read-more-btn-dark{
  margin-top: 30px;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 20px;
  cursor: pointer;
  background-color: #f9a826;
  color: #001925;
}

@media(max-width:780px){
  .about-wrapper{
    flex-direction: column;
    justify-content: center;
  }

  .image{
    width: 70%;
    height: 65%;
    text-align: center;
  }
  .image-wrapper{
    
    margin-bottom: 20px;
  }
  .description-wrapper{
    padding: 3%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
  }

  .description{
    padding-top: 30px;
    font-size: 20px;
  }
  
  .header{
    font-size: 32px;
  }
  .footer-conatiner{
  flex-direction: column;
  }

  .read-more-btn{
    font-size: 20px;
  }
}


.mail-button {
  display: flex;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  padding: 15px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-out;
}
.mail-button a {
  display: flex;
}
.mail-button img {
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.2s ease-out;
}


.mail-button2 {
  background-color: #001925;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 10px solid #001925;
}
.mail-button2 img {
  filter: invert(56%) sepia(42%) saturate(4795%) hue-rotate(360deg) brightness(103%) contrast(105%);
}
.mail-button2:hover {
  background-color: #FF7A01;
  border: 10px solid #FF7A01;
}
.mail-button2:hover img {
  filter: unset;
  transform: scale(1.5);
}

.portfolio-link {
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.portfolio-link a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.portfolio-link a:hover{
    text-decoration: underline;
}

/* Css for dark mode button */
* {
  box-sizing: border-box;
  padding: 0;
}

 body.dark {
  background: #141414;
  color: white;
}

.about-header-dark{
  color: #f9a826;
}



.label {
  /* background-color:brown; */
  background: #181717;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  border-radius: 30px;
  position: relative;
  height: 32px;
  width: 62px;
  /* margin-left: 38px; */
  padding: 3px;
  margin-right: 1em;
  display: flex;
  transition: 0.3s;
  align-items: center;
  margin-left: 5px;
}
.moon {
  color: yellow;
  transition: 0.3s;
}
.sun {
  color: yellow;
  margin-left: 10px;
  transition: 0.3s;
}
.ball {
  color: white;
  position: absolute;
  transition: transform 0.3s linear;
}
.checkbox {
  opacity: 0;
  position: absolute;

}
.checkbox:checked+.label .ball {
  transform: translate(32px);
}

/*about page css*/

html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.about-us-web-8p9 {
  box-sizing: border-box;
  padding: 8rem 8rem 4rem 8rem;
  width: 100%;
  height: 210.6rem;
  overflow: hidden;
  position: relative;
  background-color: #575A89;
}
.about-us-web-8p9 .content-j3F {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-us-web-8p9 .content-j3F .heading-and-subheading-XtD {
  margin: 0rem 28.45rem 10.4rem 28.45rem;
  width: calc(100% - 56.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .heading-and-subheading-XtD .heading-pcR {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.375;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .heading-and-subheading-XtD .rectangle-45-tcH {
  width: 100%;
  height: 0.7rem;
  background-color: #cfd4dc;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .content-pF3 {
  width: 100%;
  height: 40.8rem;
  position: relative;
  flex-shrink: 0;
}
/* .about-us-web-8p9 .content-j3F .content-pF3 .frame-828-xs3 {
  box-sizing: border-box;
  padding: 4.8rem 8.5rem 4.8rem 7.7rem;
  width: 128rem;
  height: 20.2rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('./assets/rectangle-68.png');
} */
.about-us-web-8p9 .content-j3F .content-pF3 .frame-828-xs3 .note-2M7 {
  max-width: 74.0rem;
  font-size: 4.0rem;
  font-weight: 600;
  line-height: 1.0666666667;
  color: #ffffff;
  margin-top: 100px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;}
.about-us-web-8p9 .content-j3F .content-pF3 .item-52420220903-1-iDw {
  width: 50.7rem;
  height: 40.3rem;
  position: absolute;
  left: 70.6rem;
  top: 0rem;
  object-fit: cover;
  vertical-align: top;

}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy {
  box-sizing: border-box;
  padding-top: 15.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .heading-and-subheading-Guf {
  margin: 0rem 28.45rem 10.5rem 28.45rem;
  width: calc(100% - 56.9rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .heading-and-subheading-Guf .heading-Nho {
  margin-bottom: 0.8rem;
  text-align: center;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.375;
  color: #262626;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .heading-and-subheading-Guf .rectangle-45-gTb {
  width: 100%;
  height: 0.7rem;
  background-color: #cfd4dc;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .worldmap-QuP {
  margin: 0rem 10rem 12rem 0rem;
  width: 102.4587rem;
  height: 48.2987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV {
  margin-right: 0.4rem;
  width: 127.6rem;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1333-UeM {
  margin-bottom: 3.2rem;
  width: 88.7rem;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1333-UeM .heading-QY1 {
  margin-bottom: 0.8rem;
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.375;
  color: #262626;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1333-UeM .heading-QY1 .heading-QY1-sub-0 {
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1333-UeM .heading-QY1 .heading-QY1-sub-1 {
  font-size: 6.4rem;
  font-weight: 600;
  line-height: 1.375;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1333-UeM .rectangle-45-gvm {
  width: 100%;
  height: 0.7rem;
  background-color: #cfd4dc;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R {
  box-sizing: border-box;
  padding-bottom: 1.6rem;
  width: 100%;
  row-gap: 1.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1336-7mB {
  margin-right: 1.2rem;
  width: calc(100% - 1.2rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1336-7mB .quality-assurance-TKF {
  margin-right: 16.3rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #262626;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1336-7mB .text-n6d {
  max-width: 88.8rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1337-6d7 {
  margin-right: 6rem;
  width: calc(100% - 6rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1337-6d7 .trendsetting-collections-dsw {
  margin-right: 9rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #262626;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1337-6d7 .text-yS1 {
  max-width: 84rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1339-6Fj {
  margin-right: 2.1rem;
  width: calc(100% - 2.1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1339-6Fj .customer-centric-approach-pxR {
  margin-right: 16.5rem;
  max-width: 21.1rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #262626;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .auto-group-xk47-C8R .frame-1339-6Fj .text-MBf {
  max-width: 87.9rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .frame-1338-UXB {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .frame-1338-UXB .secure-shopping--RhK {
  margin-right: 17rem;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.3333333333;
  color: #262626;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.about-us-web-8p9 .content-j3F .auto-group-rtqt-YCy .visionmission-8aV .frame-1332-EhP .frame-1338-UXB .text-A97 {
  max-width: 801rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
