{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

  <div class="text-center">
    <h1 style="margin-right:30px;margin-top:2cm">Welcome Back !</h1>

     <div class="row">
      <div class="col-md-6 offset-md-3">
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
           <div class="form-group" style="width:9cm; margin-left:180px;">
              <label for="{{ form.username.id_for_label }}"></label>
              <input type="password" name="{{ form.password.name }}" class="form-control" id="{{ form.username.auto_id }}" placeholder="Username">
            </div> 
           <div class="form-group mt-0 mb-3" style=" width:9cm; margin-left:180px;">
              <label for="{{ form.password.id_for_label }}"></label>
              <input type="password" name="{{ form.password.name }}" class="form-control" id="{{ form.password.auto_id }}" placeholder="{{ form.password.label }}">
            </div>
            <div class="d-grid"> 
              <button class="primaryAction mt-3 btn btn-dark" style="padding:12px; width:9cm; margin-left:180px;" type="submit">{% trans "Sign In" %}</button><br>
              {% comment %} <a class="button secondaryAction text-dark text-center" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% endcomment %}
              <p style=" width:9cm; margin-left:180px;">Don't have an account? <a href="{{ signup_url }}" style="text-decoration:none;color:green;">Sign Up</a>
               </p>
            </div>
          </form>
      </div>  
  
      <div class="text-center p-1">
        <hr style="margin-bottom: 3px; width:14cm; margin-left:13cm">
        OR
        <hr style="margin-top: 3px; width:14cm; margin-left:13cm">
      </div>
      
    {% get_providers as socialaccount_providers %}
  
    {% if socialaccount_providers %}
    
    <div class="socialaccount_ballot">
      {% if socialaccount_providers %}
      <div class="row mt-3 ml-5">
        <div class="offset-md-3">
           <div class="d-grid gap-2" style="margin-left: 180px; width:9cm ;">
            {% for provider in socialaccount_providers %}
              {% with provider.name as provider_name %}
                {% if provider_name == 'Facebook' %}
                <a style="padding: 12px;  background-color: #3b5998; color: #fff;" class="btn btn-block btn-block mt-2" href="{% provider_login_url provider.id %}">
                 Login with Facebook
                </a>
                {% elif provider_name == 'Google' %}
                  <a style="padding:12px;background-color: #34A853; color: #fff;" class="btn btn-block btn-block mt-2" href="{% provider_login_url provider.id %}">
                    Login with Google
                  </a>
                {% elif provider_name == 'Twitter' %}
                  <a style="padding:12px; background-color: #1DA1F2; color: #fff;" class="btn btn-block btn-block mt-2" href="{% provider_login_url provider.id %}">
                    Login with Twitter
                  </a>
                {% endif %}
              {% endwith %}
            {% endfor %}
          </div> 
        </div>
      </div>
      {% endif %}
    </div>
    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}If you have not created an account yet, then please
    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}
  </div>  
  </div>
{% endblock %}